* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e9e9e9;
}

main {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr 300px;
      grid-template-columns: 300px 1fr 300px;
  -ms-grid-rows: 100px 1fr 100px;
      grid-template-rows: 100px 1fr 100px;
      grid-template-areas: ". . ." ". centerBox ." ". error .";
}

.errorState {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: error;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
  font-size: 2em;
}

.cajaActual {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: centerBox;
  background-color: darkcyan;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: solid;
  border-width: 0.1px;
  border-color: black;
  border-radius: 5px;
  font-size: 1.5em;
}

.oculto {
  display: none;
}

.btn {
  width: 100px;
  height: 50px;
}
/*# sourceMappingURL=style.css.map */