*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 233, 233);
}

main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: ". . ." ". centerBox ." ". error .";
}

.errorState{
    grid-area: error;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: red;
    font-size: 2em;
}

.cajaActual{
    grid-area: centerBox;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-width: 0.1px;
    border-color: black;
    border-radius: 5px;
    font-size: 1.5em;    
}

.oculto{
    display: none;
}

.btn{
    width: 100px;
    height: 50px;
}